<!DOCTYPE html>
<html lang="en">
<head>
   <!-- Meta tags -->
   <meta charset="utf-8" />
   {%load static%}
   <link rel="stylesheet" type="text/css" href="{% static 'css/terminos.css' %}">
  <title>Terminos y Condiciones</title> 
  
</head>
<body>
    <form action="../../form-result.php" target="_blank">

        <h3>Términos y Condiciones de Uso</h3>
        <h4>INFORMACIÓN RELEVANTE</h4>
        <p>Es requisito necesario que el usuario lea y acepte los siguientes Términos y Condiciones que a continuación se redactan. 
            El uso de nuestros servicios implicará que usted ha leído y aceptado los Términos y Condiciones 
            de Uso en el presente documento. Además será necesario que el usuario debe estar registrado para poder acceder a este sitio web, 
            con ingreso de datos personales fidedignos y definición de una contraseña.

            El usuario puede elegir y cambiar la clave para su acceso de administración de la cuenta en 
            cualquier momento, en caso de que se haya registrado y que sea necesario, no asume la responsabilidad en caso de que entregue dicha clave 
            a terceros.
            
            Todas las publicaciones que se lleven a cabo por medio de este sitio web, están sujetas
            a un proceso de confirmación y verificación y el cumplimiento de las condiciones requeridas por el medio. En 
            algunos casos puede que se requiera una verificación por medio de correo electrónico.<br></br>
            
        </p>
        <h4>LICENCIA</h4>
        <p>Librería Caché a través de su sitio web concede una licencia para que los usuarios puedan publicar y tengan acceso 
            a los libros publicados en este sitio web de acuerdo a los Términos y Condiciones que se describen en este documento.<br></br>   
        </p>

        <h4>USO NO AUTORIZADO</h4>
        <p>En calidad de proteger los derechos de autor, los usuarios puedes acceden libremente a los libros 
            publicados pero queda prohibido su descarga para la comercialización, distribución o modificación 
            de libros que no sean de su autoría, en caso de .<br></br>
            
        </p>
        <h4>PROPIEDAD INTELECTUAL</h4>
        <p>La propiedad intelectual de una obra corresponde a su autor/a por 
            el hecho de su creación. Esto significa que la protección de las 
            obras es automática, por lo que no es necesario ningún registro 
            formal para que la autoría de las obras sea reconocida y respetada.<br></br>
            
        </p>
        <h4>COMPROBACIÓN ANTIFRAUDE</h4>
        <p>Cualquier cuenta que se compruebe realizando acciones fraudulentas será suspendida
            definitivamente y sin oportunidad a reclamos, el usuario debe tomar en cuenta que puede recibir 
            sanciones de acuerdo a las actividades ilícitas.<br></br>
            
        </p>
      </form>
   </body>
</html>