{% extends "inicio/principal.html" %}
{% load static %}
{% block content %}
<div class="page-header">
    <h1 class="all-tittles">Sistema Bibliotecario <small>Agregar una Historia</small></h1>
</div>
<div class="container-fluid" style="margin: 50px 0;">

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <img src="{% static 'img/user01.png' %}" alt="user" class="img-responsive center-box"
                style="max-width: 110px;">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
            Bienvenido a la sección en donde podrás crear y editar una historia.
        </div>
    </div>
</div>
<ol class="breadcrumb">
    <li class="active">Libros</li>
    <li>Pequeña Historia</li>
</ol>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- <div class="form-group">
        <label for="Portada">Portada</label>
        <input accept="image/jpeg, image/png, image/gif" type="file" class="form-control" id="inputGroupFile04"
            aria-describedby="inputGroupFileAddon04" aria-label="Upload" name="{{formSaveBook.img.name}}">
    </div>
    <div class="form-group">
        <label for="titulo">Título</label>
        {{formSaveBook.titulo}}
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Autor o autores</label>
        {{formSaveBook.autor}}

    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Categoría</label>
        {{formSaveBook.categoria}}

    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Descripción</label>
        {{formSaveBook.descripcion}}

    </div>

    <div class="form-group">
        <label for="libro">Documento</label>
        <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
            aria-label="Upload" name="{{formSaveBook.pdf.name}}">
    </div>

    <div class="row g-3" text-center style="margin-left: 230px;">
        <div class="col-md-2">
            <button class="btn" type="submit" style="font-size: 25px; background-color: bisque;">Guardar</button>
        </div>
    </div> -->
    {{formSaveHistory.as_p}}
    <div class="row g-3" text-center>
        <div class="col-md-2">
            <button class="btn" type="submit" style="font-size: 25px; background-color: bisque;">Guardar Historia</button>
        </div>
    </div>
</form>
{% endblock %}